{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<h2>Detalle de Usuario</h2>

<div>
	<i class="fa fa-user" style="font-size: 200px" aria-hidden="true"></i>
</div>

<div>
	Nombre: {{detail_user_object.first_name}} {{detail_user_object.last_name}} <br>
	email: {{detail_user_object.email}} <br>
	<a href="{% url 'auth:edit' detail_user_object.pk %}">
		<i class="fa fa-pencil-square" style="font-size: 50px" aria-hidden="true"></i>
	</a>


</div>




{% endblock %}