{% extends 'base.html' %} 
{% load static %} 

{% block content %}

<h2>Lista de Usuarios</h2>

<table>
  <tr>
    <th>ID Usuario</th>
    <th>Nombre</th>
    <th>Correo</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>
  {% for object in object_list %}
  	<tr>
  	  <th>
        {{ object.pk }}
        <a href="{% url 'auth:detail' object.pk %}"> 
          <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
      </th>
      <th>{{ object.first_name }} {{ object.last_name }}</th>
      <th>{{ object.email }}</th>
      <th>
        <a href="{% url 'auth:edit' object.pk %}">
          <i class="fa fa-pencil-square" aria-hidden="true"></i>
        </a>
      </th>
      <th>
        <a href="#">
          <i class="fa fa-trash-o" style="color:red" aria-hidden="true"></i>
        </a>
      </th>

    </tr>
  {% endfor %}
</table>

{% endblock %}