{% load static %}

<!DOCTYPE html>
<html lang="en">
      <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu" type="text/css" />
   <link rel="stylesheet" href="{% static 'css/style.css' %}"" type="text/css" />
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
   

   <title>Home</title>
   
<body class="text-center bgimg">
  <nav class="navbar navbar-default navbar-fixed-top" style="padding-top:-20px;" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>>
                        <span class="sr-only"> Toggle Navigation </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

        <a class="navbar-brand" href="#"><span class="fa fa-terminal"></span></a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'app:home' %}">Home <span class="sr-only">(current)</span></a></li>
          {% if request.user.is_superuser %}
            <li><a href="{% url 'auth:list' %}">Users Managements</a></li>
          {% else %}
            <li><a href="{% url 'auth:detail' request.user.pk %}">Account</a></li>
          {% endif %}
        </ul>

        <h5><a class="pull-right" href="{% url 'auth:logout' %}"><i class="fa fa-sign-out"></i>Salir</a></h5>
      </div>
    </div>
  </nav>

  <div class="container">
    <div style="background:transparent !important" class="jumbotron jumbotron-fluid text-center vertical-center">
      <div class="container">
        <h1 style="color:white;"> Bienvenido {{ request.user.username }} </h1>

        <div class="sexy_line white"></div>

        <p class="lead">
          App Autenticacion
        </p>

        <div class="lead">
          {% block content %}{% endblock %}
        </div>

      </div>
    </div>

    
    <div class="row" style="margin-top:2%; padding-bottom:2%; background-color:transparent">
      <div class="col-xs-6 col-xs-offset-3 vertical-align">
        Javier Valero | 2018
      </div>
    </div>
  </div>

  <script src="https://use.fontawesome.com/b6810e5c11.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</html>