{% extends 'base.html' %} 
{% load static %} 




{% block content %}
	<h1>List View:</h1>
	<ol>
	{% for i in object_list %}
		<li>{{ i }} - Universidad {{i.university}} </li>
	{% endfor %}
	</ol>
	

{% endblock %}